body{
font-family: 'Poltawski Nowy';
font-style: normal;
font-weight: 400;
}

.mega-menu-link2::after{
    content: ""!important;
}
.accordion-button{
    font-weight: bold !important;
    font-size: 20px !important;
    padding: 16px 15px;
    border-bottom: 3px solid;
    border-bottom-color: #EDBA75;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
/* .accordion-button::after{
    content: "";
} */
.accordion-item{
    margin-bottom: 20px;
}
.accordion-body{
    text-align: justify;
    padding-left: 15px;
}

.content-staff-service-btn{
    background: #EDBA75;
    color: white;
    padding: 10px 16px;
    border-radius: 5px;
    margin-top: 10px;
}
.content-staff-service-btn a{
    color: white;
    font-family: ui-monospace;
}
.section-sub-title{
    margin-top: 50px;
}
.section-sub-title span{
    color: #EDBA75;
}
.section-head h2{
    font-family: 'themify';
}
.content-staff-service{
    margin-top: 30px;
}
.content-staff-service .header h2{
    font-size: 18px;
    /* margin-top: 30px; */
}
.content-staff-service .header span{
    border-radius: 50%;
    padding: 30px 30px;
    /* background: #EDBA75; */
    
}
.content-staff-service .header span i{
    color: #EDBA75;
    font-size: 50px;
    vertical-align: middle;

}
.custom-footer-link li{
    padding: 0!important;
    margin: 10px!important;
}
.dropify-message p{
    font-size: 16px;
   
}



.banner_slider_3 .slick-track {
    height: 100%;
}
.banner_slider_3 .slick-list {
    height: 100%;
}
.banner_slider_3 .slick-slider {
    min-height: 100vh;
    height: 100vh;
}
.banner_slider_3 .slick-initialized .slick-slide > div{
    height: 100%;
}
.banner_slider_3 .slide {
    /* height: 800px; */
    height: 100%;
}

/* Slider container */
.slider-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  /* Individual slide styling */
  .slide-item {
    padding: 20px;
    text-align: center;
  }
  .content-wrapper1 .icon, 
  .content-wrapper .icon {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background: #0084c2;
    margin: auto;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
}
  .content-wrapper > h5{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20.4px;
line-height: 40px;
color: #000;
margin: 10px 0 0 0;
  }
  .content-wrapper:hover {
    background-color: #192635;
  }
  .content-wrapper:hover h5 {
    color: #fff;
  }
  .content-wrapper {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all .3s;
  }
  
  .slide-item h3 {
    color: #2c3e50;
    font-size: 2.5rem;
    margin: 0;
    padding: 20px 0;
  }
  
  /* Dots styling */
  .slick-dots li button:before {
    font-size: 12px;
    color: #3498db;
  }
  
  .slick-dots li.slick-active button:before {
    color: #2980b9;
  }
  .slick-slider.slick_slider.banner_slider.banner_slider_3.slick-initialized {
    height: 100vh;
}
.banner_slider_3 .slick-slide >div{
    height: 100%;
}

.slick-slider .slick-prev:hover {
    background: #000;
}
.slick-slider .slick-next:hover {
    background: #000;
}
.slick-slider .slick-next {
    right: 29px;
}

.slick-slider .slick-prev {
    left: 29px;
}

 .slick-arrow {
    width: 40px;
    height: 40px;
    z-index: 1;
    border: 0;
    color: inherit;
    background-color: #52bbbf;
    /* box-shadow: 0 0 10px 0 rgba(0, 43, 92, 0.08); */
    /* border: 0; */
    border-radius: 50%;
    color: #fff;
}
.slick-arrow.slick-prev::before {
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    opacity: 1;
    color: #fff;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f053";
}
.slick-arrow.slick-next::before {
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    opacity: 1;
    color: #fff;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
}

.bottomSlider {
    margin-top: -110px;
}
.aboutImageText p{

font-family: 'Poltawski Nowy';
font-style: normal;
font-weight: 700;
font-size: 22.9529px;
line-height: 36px;

color: #FFFFFF;


}
.aboutImageText {
    bottom: 56px;
    left: 74px;
    background-color: #52bbbf;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
.aboutImageText h1 {
    font-family: 'Poltawski Nowy';
    font-style: normal;
    font-weight: 400;
    font-size: 67.605px;
    /* line-height: 133px; */
    color: #fff;
    margin: 0;
}

.section-title .title-header h1 {
    text-transform: capitalize;
    margin-bottom: 15px;
    font-size: 27.3882px;
    line-height: 43px;
    color: #0084C2;
}
.underline{
    position: relative;
}
.underline::after {
    position: absolute;
    content: "";
    bottom: -16px;
    left: 3px;
    height: 2px;
    width: 100px;
    background: #0084C2;
}
.section-title .title-header h2.title {
    font-family: 'Poltawski Nowy';
    /* font-family: "Playfair Display", Sans-serif; */
    font-size: 42px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 45px;
    color: #000000;
    margin-bottom: 18px;

}
.section-title .title-desc p {
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 8px;
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4px;
    line-height: 24px;
    color: #000000;
}
.subtitle {
    margin: 23px 0;
    padding: 0px 0px 0px 20px;
    border-style: solid;
    border-width: 0px 0px 0px 4px;
    border-color: #0084C2;
}
a.btn.btn-primary {
    background: linear-gradient(98.49deg, #0084C2 -21.06%, #003F5C 132.94%);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 25px 15px 25px;
}
.featured-imagebox-services.style1 .featured-content:before{
    display: none;
}
.featured-imagebox-services.style1 {
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
    transition: all 0.4s;
    padding: 40px 10px 30px 10px;
    align-items: center;
    text-align: center;
}
.featured-imagebox-services.style1:hover h3>a{
    color: #0084C2;
}
.testimonial-text{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3;
   -webkit-box-orient: vertical;
   font-size: 16px;
}
.featured-desc{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4;
   -webkit-box-orient: vertical;
   font-size: 16px;
}
.learnMore{
    display: block;
    padding-top: 15px;
    font-size: 18px;
    color: #0084C2 !important;
}
.themeColor{
    color: #0084C2;
}

.backgroundColor{
    background-color: #192535;
    color: #fff;
}
.company .section-title .title-header h3{
    color: #0084C2;
    font-size: 16px;
    margin-bottom: 20px;
}
.company .title-desc p{
    color: #fff !important;
}
.company .section-title .title-header h2.title{
    color: #fff;
}
.site-main.company {
    margin-top: 90px;
}
.section-sub-title span{
    font-family: 'Poltawski Nowy';
    font-style: normal;
    font-weight: 400;
    font-size: 16.3882px;

    color: #0084C2;
}
.section-head h2 {
    font-family: 'Poltawski Nowy';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    text-align: center;
    color: #000000;
}
.sectiontext {
    font-size: 16px;
    width: 77%;
    margin: auto;
    color: #000;
}
.flip-box:hover .flip-box-back{
    background-color: #000;
    color: #fff;
}
.flip-box:hover{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    /* border: 1px solid #f1f1f1; */
    /* border-radius: 10px; */
    perspective: 1000px;
    margin: 0;
    
}
  
  .flip-box-inner {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .flip-box-front {
    /* background-color: #fff;
    color: black; */
    border-radius: 10px;
  }
  
  .flip-box-front img
  {
    height: 50px;
    width: 50px;
  }
  
  .flip-box-back {
    background-color: #ffffff;
    color: #000;
    transform: rotateY(180deg);
    border-radius: 10px;
    padding: 16px;
  }
  .borderLine{
    width: 80px;
    height: 2px;
    background-color: #0084C2;
    display: inline-block;
    margin-right: 40px;
  }

  button.accordion-button{
    border-color: #dad8d8;
    border-width: 1px;
  }

  .accordion-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }

  /* .accordion-header i{
    color: #ddd;
  } */
  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    color: #01061B;
    font-family: "Playfair Display", Sans-serif;
    /* background-color: #f8f9fa; */
  }

  .accordion-icon {
    transition: transform 0.3s ease;
  }

  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0 15px;
  }

  .accordion-content.show {
    max-height: 500px; 
    padding: 15px;
  }
  .testimonials >div{
    background-color: #fff;

  }

  blockquote {
    margin: 0 0 1rem;
    color: black;
}

  /* Equal height slides */
.testimonial-slider .slick-track {
    display: flex !important;
}

.testimonial-slider .slick-slide {
    height: inherit !important;
    padding: 20px;
}

.testimonial-item {
    transition: all 0.3s ease;
    height: 100%;
}

/* Center slide styling */
.testimonial-item.center-slide {
    transform: scale(1.1);
    z-index: 2;
}

.testimonial-item:not(.center-slide) {
    opacity: 0.7;
    transform: scale(0.9);
}

.testimonial-content {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* box-shadow: 0 10px 30px rgba(0,0,0,0.1); */
    border-bottom: 20px solid #0084c2;
}
.areyouajob{
    font-family: 'Poltawski Nowy';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 47px;
}
.testimonials.ttm-testimonial-box-view-style1 .testimonial-content::before,
.testimonials.ttm-testimonial-box-view-style1 .testimonial-content:after{
    display: none;
}
/* Responsive adjustments */
@media (max-width: 991px) {
    .testimonial-item.center-slide,
    .testimonial-item:not(.center-slide) {
        transform: none;
        opacity: 1;
    }
}